<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.19.1/cdn/themes/light.css" />
  <?!= UI.include('client/css/common.css.html') ?>
  <?!= UI.include('client/css/importer.css.html') ?>
</head>

<body>
  <div id="sidebar">
    <div id="credentials-section" class="section">
      <h1>Credentials</h1>
      <sl-select placeholder="Select a subdomain" id="site-select">
        <sl-option value="luke">luke</sl-option>
      </sl-select>
    </div>

    <div id="object-section" class="section">
      <h1>Object</h1>
      <sl-select placeholder="Select an object" id="object-select">
      </sl-select>
    </div>

    <div id="action-select-section" class="section">
      <h1>Action</h1>
      <sl-select placeholder="Select an action" id="action-select">
      </sl-select>
    </div>

    <div id="template-info-section" class="section">
      <h3 id="selected-template">Please select an object</h3>
      <p id="selected-template-info"></p>
    </div>

    <div id="import-section" class="section">
      <h1>Import</h1>
      <sl-button id="import-button" variant="primary" disabled>Start</sl-button>
    </div>

    <div id="log-section" class="section">
    </div>
  </div>

  <?!= UI.include('client/js/lib/jquery.js.html') ?>
  <?!= UI.include('client/js/lib/ui.js.html') ?>
  <?!= UI.include('client/js/lib/server.js.html') ?>
  <?!= UI.include('client/js/importer.js.html') ?>
  <script type="module"
    src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.19.1/cdn/shoelace-autoloader.js"></script>
</body>

</html>